* {
    font-family: 'Inter', sans-serif
}

h1 {
    font-weight: bold;
}

#final_folder_name {
    font-family: 'Google Sans Mono', sans-serif;
}

.container {
    margin-top: 10%;
    padding: 2%;
    border: grey solid 1px;
    border-radius: 30px;
    background-color: #f3f3f3;
}